.header {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  padding: 10px;
}

.title span {
  color: #009b91;
}

.location {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}

.location:focus {
  outline: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 20px;
  /* overflow-y: scroll; */
}

.card .docContainer {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #999;
  box-shadow: 0 10px 5px -7px var(--primary-color);
  cursor: pointer;
}

.card .docContainer.selected {
  border-color: var(--secondary-color);
  box-shadow: 0 10px 5px -7px var(--secondary-color);
}

.card .docContainer:hover {
  box-shadow: 0 10px 5px -7px var(--secondary-color);
}

.card .docContainer .docImage {
  border-radius: 50%;
}

.card .docContainer p {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 500;
}

.card .docContainer p span {
  font-size: 15px;
  flex: 1;
}

.card .docContainer button {
  font-size: 15px;
}

@media (max-height: 582px) {
  .card {
    height: 300px;
  }

  .card .docContainer {
    padding: 10px;
  }

  .card .docContainer:last-child {
    display: none;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 20px;
  }
  .card {
    justify-content: space-around;
  }
  .card .docContainer {
    padding: 10px;
  }
  .card .docContainer p {
    padding-left: 10px;
    font-size: 15px;
  }
  .card .docContainer p span {
    display: none;
  }
  .card .docContainer button {
    font-size: 10px;
  }
}
