.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
  max-width: 960px;
  padding: 0 30px;
}

@media (max-height: 582px) {
  .container {
    margin: 30px auto;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 10px auto;
  }
}
