.content {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.tagline {
  font-size: 45px;
  font-weight: 700;
  padding: 10px;
}

.tagline span {
  color: #009b91;
}

.desc {
  padding: 10px;
  color: #555;
}

.pets {
  position: absolute;
  top: 22%;
  left: 44%;
  z-index: -2;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(-5%, -8%);
  }
  50% {
    transform: translate(-5%, -5%);
  }
  100% {
    transform: translate(-5%, -8%);
  }
}

.paw {
  position: absolute;
  top: 63%;
  left: 20%;
}

.parallax {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.parallax .pet_img {
  border-radius: 50%;
}

.parallax .layer:nth-child(1) {
  position: absolute;
  top: 150px !important;
  left: 700px !important;
}

.parallax .layer:nth-child(2) {
  position: absolute;
  top: 600px !important;
  left: 600px !important;
}

.parallax .layer:nth-child(3) {
  position: absolute;
  top: 250px !important;
  left: 1300px !important;
}

.parallax .layer:nth-child(4) {
  position: absolute;
  top: 500px !important;
  left: 1200px !important;
}

.parallax .layer:nth-child(5) {
  position: absolute;
  top: 400px !important;
  left: 200px !important;
}

@media (max-height: 582px) {
  .paw {
    position: absolute;
    top: 68%;
    left: 15%;
  }

  .pets {
    top: 15%;
    left: 44%;
  }
  .parallax .layer:nth-child(1) {
    position: absolute;
    top: 90px !important;
    left: 600px !important;
  }

  .parallax .layer:nth-child(2) {
    visibility: hidden;
  }

  .parallax .layer:nth-child(3) {
    position: absolute;
    top: 250px !important;
    left: 1100px !important;
  }

  .parallax .layer:nth-child(4) {
    visibility: hidden;
  }

  .parallax .layer:nth-child(5) {
    position: absolute;
    top: 400px !important;
    left: 500px !important;
  }
}

@media (max-width: 500px) {
  .pets {
    display: none;
  }
  .paw {
    display: none;
  }
  .parallax {
    display: none;
  }
  .tagline {
    text-orientation: sideways-right;
    font-size: 40px;
  }
  .content {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    justify-content: center;
    /* align-items: center; */
  }
}
